{% extends 'order_base.html' %}
{% load crispy_forms_tags %}
{% block order %}
<div class="container">
    <h1 class='text-center'>Order</h1>
    <div class="row align-items-start">
        <div class="col-lg-8 order-2">
            <h2 class='text-center fs-3'>Contact</h2>
            <form method="POST" class="bootstrap">{% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary mt-3">Place Order</button>
            </form>
        </div>
        <div class="col-lg-4 p-2 text-center bg-dark text-white order-1 mb-3">
            <h2>Your Order</h2>
            <ul>
                <div class="d-flex justify-content-between mx-3">
                    {% for item in cart %}
                    <li>
                        <p>{{ item.quantity }} x {{ item.pizza.pizza.name }}</p>
                        <span>Total: ${{ item.price }}</span>
                    </li>
                    {% endfor %}
                </div>
            </ul>
            <p><span>Total Price: </span>${{ cart.get_total_price }}</p>
        </div>
    </div>
</div>
{% endblock %}