{% extends 'user_base.html' %}
{% load crispy_forms_tags %}
{% block users %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h2>Register</h2>
<form method="POST" class="bootstrap">
    {{ form|crispy }}
    {% csrf_token %}
<button type="submit" class='btn btn-primary mt-2'>Register</button>
</form>
<p>Already have an account? <a href="{% url 'user:login' %}" class="btn btn-danger mx-3">Login</a></p>
{% endblock %}